@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  color: white;
  font-family: Poppins;
}

p {
  margin: 0;
}

.Link {
  text-decoration: none;
  color: white;
  display: flex;
  width: fit-content;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.section-title-withoutLink {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.section-title:hover {
  cursor: pointer;
}

.section-title:hover>.loadMore {
  color: #DFC206;
}

.loadMore {
  font-size: 32px;
  font-weight: 700;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.bar {
  width: 5px;
  height: 25px;
  background-color: #DFC206;
  border-radius: 1px;
  font-weight: 700;
}

.movieContainer {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.movieContainer::-webkit-scrollbar {
  height: 0px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(25, 25, 25);
  border-radius: 5px;
  gap: 3px;
}

.moviePoster {
  width: 200px;
  height: 280px;
  cursor: pointer;
}

.watchBtn {
  font-size: 14px;
  background-color: rgb(18, 18, 18);
  cursor: pointer;
  margin-bottom: 10px;
  border: 1.5px solid rgb(18, 18, 18);
  border-radius: 10px;
  padding: 5px 10px;
}

.watchBtn:active {
  background-color: rgb(30, 30, 30);
  border: 1.5px solid black;
}

.searchResults {
  cursor: pointer;
}

.searchResults:hover {
  color: darkgray;
}

.alertMessageDiv {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
}